<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	    autoReload="true"
	    throwExceptions="false"
      internalLogLevel="Warn" 
      internalLogFile="logs/internal-nlog.txt">
  <!--<variable name="logDirectory" value="D:/Log"/>-->
  <!--按照小时记录-->
  <targets>
    <!--此部分中的所有目标将自动异步-->
    <default-wrapper xsi:type="AsyncWrapper"></default-wrapper>
    <!--项目日志保存文件路径说明fileName="${basedir}/保存目录，以年月日的格式创建/${shortdate}/${记录器名称}-${单级记录}-${shortdate}.txt"-->
    <target xsi:type="File"
				name="info"
				fileName="${basedir}/info/${date:format=yyyy-MM-dd-HH}.txt"
				layout ="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}"/>
    <target xsi:type="File"
			   name="error"
			   fileName="${basedir}/error/${date:format=yyyy-MM-dd-HH}.txt"
			   layout ="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}"/>
    <!--发送到RabbitMQ简单配置-->
    <extensions>
      <add assembly="Nlog.RabbitMQ.Target" />
    </extensions>
    <target name="RabbitMQTarget"
			xsi:type="RabbitMQ"
		       username="guest"
				   password="guest"
				   hostname="localhost"
				   exchange="ELK_Demo_log"
				   exchangeType="topic"
				   topic="EKL.Logging.${level}"
		       port="5672"
				   vhost="/"
			     useJSON="true"
			     layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}"
				   UseLayoutAsMessage="true"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="RabbitMQTarget" />
    <logger name="*" minlevel="Trace" writeTo="info" />
    <logger name="*" level="Error" writeTo="error" />
  </rules>
</nlog>